# OpenAI 和 Pinecone 配置
OPENAI_API_KEY = 
PINECONE_API_KEY =
PINECONE_NAMESPACE =  
PINECONE_INDEX_NAME =

# LINE Bot 設定
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=

# 職位密碼設定
PASSWORD_NORMA=
PASSWORD_RESERVE=
PASSWORD_LEADER=
PASSWORD_VICE_MANAGER=
PASSWORD_MANAGER=

# MongoDB 設定
MONGODB_URI=
MONGODB_DB_NAME=

# 📊 Logging 設定（開發時開啟，部署預設可關閉）
LOG_LEVEL=INFO            # 本地 debug	DEBUG + to_file=True
LOG_TARGET_MODULE=        # 指定要 debug 的模組（可留空）
LOG_TO_FILE=false         # 設 true 會輸出到檔案（預設 false）
LOG_FILE=app.log          # log 檔名
